@font-face {
    font-family: 'Stamped';
    src: url('./fonts/StampedPersonalUseRegular-ywJm3.ttf');
}

body, html {
    height: 100%;
    margin: 0px;
}

div {
    border: 1px solid black;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 0.5fr;
}

/* header */
.header {
    background-color: #3A4D39;
    grid-column: 1 / 3;
}

h1 {
    margin-left: 30px;
    text-transform: uppercase;
    color: white;
    animation: slideIn 3s;
    font-family: 'Stamped';
    font-size: 2rem;
}

/* sidebar */
.sidebar {
    background-color: #739072;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h2, .btnAdd {
    font-family: 'Stamped';
}

.btnAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 9px;
    color: white;
    background-color: #739072;
    border: none;
}

.btnAdd:hover {
    background-color: #3A4D39;
}

.project-form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-title {
    grid-column: 1 / 3;
}

.project-form {
    display: none;
}

.project-list {
    padding: 10px;
}

.div-project {
    display: flex;
}

.btnDelete, .btnProject {
    background-color: #739072;
    color: white;
}

.btnProject {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 100%;
    border: none;
}

.btnProject:hover, .btnDelete:hover {
    background-color: #3A4D39;
}

/* .content */
.content {
    background-color: #ECE3CE;
    padding: 30px;
}

/* footer */
.footer {
    grid-column: 1 / 3;
    background-color: #3A4D39;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Stamped';
}

@keyframes slideIn {
    from {
        margin-left: 30%;
        opacity: 0;
    }
    to {
        margin-left: 30px;
        opacity: 1;
    }
}