@font-face {
    font-family: 'Stamped';
    src: url('./fonts/StampedPersonalUseRegular-ywJm3.ttf');
}

body, html {
    height: 100%;
    margin: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 0.5fr;
}

/* header */
.header {
    background-color: #3A4D39;
    grid-column: 1 / 3;
}

h1 {
    margin-left: 30px;
    text-transform: uppercase;
    color: white;
    animation: slideIn 3s;
    font-family: 'Stamped';
    font-size: 2rem;
}

/* sidebar */
.sidebar {
    background-color: #739072;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h2, .btnAdd, .btnAddProject, .btnCancelProject {
    font-family: 'Stamped';
}

.btnAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 9px;
    color: white;
    background-color: #739072;
    border: none;
}

.btnAdd:hover {
    background-color: #3A4D39;
}

.project-form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-title {
    grid-column: 1 / 3;
    background-color: #ECE3CE;
    border-radius: 7px;
    font-size: 1rem;
}

.project-form {
    display: none;
}

.project-list {
    padding: 10px;
}

.div-project {
    display: flex;
    margin: 3px;
}

.btnAddProject, .btnCancelProject {
    font-size: 1rem;
}

.btnDelete, .btnProject, .btnAddProject, .btnCancelProject {
    background-color: #739072;
    color: white;
    border: none;
}

.btnProject {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 100%;
}

.btnProject:hover, .btnDelete:hover, .btnAddProject:hover, .btnCancelProject:hover {
    background-color: #3A4D39;
}

/* .content */
.content {
    background-color: #ECE3CE;
}

.content-container {
    visibility: hidden;
    padding-left: 30px;
    padding-top: 10px;
    color: #263225;
}

.btnAddTask, .task-list {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ECE3CE;
    border: none;
    border-radius: 8px;
}

.btnAddTask:hover, .btnTask:hover {
    background-color: #c8ae72;
}

.btnAddTask {
    font-family: 'Stamped';
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.form-task {
    display: flex;
    flex-direction: column;
}

.task-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

.task-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.btnTask {
    text-align: left;
    width: 80%;
    color: #263225;
    background-color: #ECE3CE;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

/* footer */
.footer {
    grid-column: 1 / 3;
    background-color: #3A4D39;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Stamped';
}

@keyframes slideIn {
    from {
        margin-left: 30%;
        opacity: 0;
    }
    to {
        margin-left: 30px;
        opacity: 1;
    }
}